body {
    margin: 40px;
}

.container{
    height: 215px;
    width: 340px;
    display: grid;
    grid-area: container;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    background-color: #F5F5F5;
    padding: 15px;
}

h1{
    font-size: 14px;
    font-weight: bold;
    font-family: 'Martel', serif;
    text-align: left;
    color: #000;

}
hr{
    color: #E6E6E6;
    text-align: left;
}

.container-2{
    grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
    row-gap: 2px;
}

.item-1, .item-2, .item-3, .item-4, .item-5, .item-6, .item-7, .item-8, .item-9, .item-10, .item-11, .item-12, .item-13, .item-14{
    box-sizing:border-box;
    background-color: #fff;
    color: #000;
    height: 16px;
    font-size: 8px;
    font-weight: bold;
    font-family: 'Martel', serif;
    text-align: center;
    padding: 5px;
    border: solid #fff thin;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #aaaaaa;
    object-fit: contain;
}





